/* index.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #161625; /* Poora background dark */
  
  /* Ye lines poori site ko center karengi */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  /* Ye line bhi zaroori hai taake root element poori jaga na le */
  display: contents;
}